# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import os
import json
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = os.path.join("Output Data", "cities.csv")

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Data

### Generate Random Cities

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of 1500 random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

603

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it's being processed (with the city number and city name).

In [3]:
# Run a test call to view JSON structure
url = "http://api.openweathermap.org/data/2.5/weather?"
town = "Lisbon"
query_url = f"{url}q={town}&appid={weather_api_key}"
response = requests.get(query_url).json()
response

{'coord': {'lon': -9.1333, 'lat': 38.7167},
 'weather': [{'id': 801,
   'main': 'Clouds',
   'description': 'few clouds',
   'icon': '02n'}],
 'base': 'stations',
 'main': {'temp': 288.47,
  'feels_like': 287.99,
  'temp_min': 287.35,
  'temp_max': 289.73,
  'pressure': 1018,
  'humidity': 74},
 'visibility': 10000,
 'wind': {'speed': 7.72, 'deg': 350},
 'clouds': {'all': 20},
 'dt': 1622672803,
 'sys': {'type': 1,
  'id': 6901,
  'country': 'PT',
  'sunrise': 1622610803,
  'sunset': 1622663763},
 'timezone': 3600,
 'id': 2267057,
 'name': 'Lisbon',
 'cod': 200}

In [4]:
# Basic API call URL
url = "http://api.openweathermap.org/data/2.5/weather?"

# Create empty lists to hold data from API calls
call_city = []
call_city_num = []
lat = []
long = []
temp = []
humid = []
cloudy = []
wind_sp = []

# Perform API calls using random cities generated
# Append data for each city to the relevant list
for city in cities:
    query_url = f"{url}q={city}&appid={weather_api_key}"
    response = requests.get(query_url).json()
    
    try:
        name = response['name']
        id_num = response['id']
        call_city.append(response['name'])
        call_city_num.append(response['id'])
        lat.append(response['coord']['lat'])
        long.append(response['coord']['lon'])
        temp.append(response['main']['temp'])
        humid.append(response['main']['humidity'])
        cloudy.append(response['clouds']['all'])
        wind_sp.append(response['wind']['speed'])
        print(f"{name}, ID {id_num} has been located.")
    
    except:
        pass

Havre-St-Pierre, ID 5972291 has been located.
Jamestown, ID 5122534 has been located.
Dzierżoniów, ID 3099828 has been located.
Qaanaaq, ID 3831208 has been located.
Hobart, ID 2163355 has been located.
Rikitea, ID 4030556 has been located.
Yulara, ID 6355222 has been located.
Punta Arenas, ID 3874787 has been located.
Hermanus, ID 3366880 has been located.
Carnarvon, ID 2074865 has been located.
Upernavik, ID 3418910 has been located.
Severo-Kuril'sk, ID 2121385 has been located.
Lompoc, ID 5367788 has been located.
Mataura, ID 6201424 has been located.
Ushuaia, ID 3833367 has been located.
Chui, ID 3443061 has been located.
Hilo, ID 5855927 has been located.
Dagana, ID 2246550 has been located.
Nikolskoye, ID 546105 has been located.
Lebu, ID 3883457 has been located.
Barrow, ID 5880054 has been located.
Avera, ID 4231997 has been located.
Albany, ID 5106841 has been located.
Cabo San Lucas, ID 3985710 has been located.
Rutana Province, ID 434147 has been located.
Kieta, ID 2094027 has been located.
Sfântu Gheorghe, ID 667303 has been located.
Khovd, ID 1516048 has been located.
George Town, ID 1735106 has been located.
San Ignacio, ID 3581194 has been located.
Saint Paul Harbor, ID 5866583 has been located.
Hofn, ID 2630299 has been located.
Muswellbrook, ID 2156034 has been located.
Snezhnogorsk, ID 795243 has been located.
Trat, ID 1605277 has been located.
Bow Island, ID 5906757 has been located.
Taltal, ID 3870243 has been located.
Avarua, ID 4035715 has been located.
Vila Velha, ID 3445026 has been located.
Fort Nelson, ID 5955902 has been located.
La Unión, ID 3695466 has been located.
Busselton, ID 2075265 has been located.
Saint Anthony, ID 5044290 has been located.
Vaini, ID 4032243 has been located.
Hamilton, ID 4513583 has been located.
Seoul, ID 1835848 has been located.
East London, ID 1006984 has been located.
Mar del Plata, ID 3430863 has been located.
Pevek, ID 2122090 has been located.
Fairbanks, ID 5861897 has been located.
Castro, ID 3466704 has been located.
Superior, ID 5275191 has been located.
Chokurdakh, ID 2126123 has been located.
Mandalgovi, ID 2030065 has been located.
Hasaki, ID 2112802 has been located.
Garsten, ID 7872142 has been located.
Yatou, ID 1786855 has been located.
Abonnema, ID 2324433 has been located.
Coyhaique, ID 3894426 has been located.
Bambous Virieux, ID 1106677 has been located.
Tuktoyaktuk, ID 6170031 has been located.
Khilok, ID 2022463 has been located.
Ouadda, ID 236901 has been located.
Mayāng Imphāl, ID 1263255 has been located.
Lüderitz, ID 3355672 has been located.
Den Helder, ID 2757220 has been located.
Saint-Philippe, ID 935215 has been located.
Kaitangata, ID 2208248 has been located.
Belitsa, ID 733322 has been located.
Kargil, ID 1267776 has been located.
Vostok, ID 2013279 has been located.
Tshela, ID 2311127 has been located.
Kedrovyy, ID 1538641 has been located.
Kaduqli, ID 373141 has been located.
Fortuna, ID 5563839 has been located.
Alvand, ID 143748 has been located.
Thompson, ID 6165406 has been located.
Dikson, ID 1507390 has been located.
Airai, ID 1651810 has been located.
Parral, ID 4004867 has been located.
Bathsheba, ID 3374083 has been located.
Oranjemund, ID 3354071 has been located.
Atuona, ID 4020109 has been located.
Solton, ID 1491428 has been located.
La Ronge, ID 6050066 has been located.
Port Elizabeth, ID 964420 has been located.
Port-Gentil, ID 2396518 has been located.
Ituberá, ID 3460530 has been located.
Srednekolymsk, ID 2121025 has been located.
Fengxian, ID 1811200 has been located.
Bubaque, ID 2374583 has been located.
Kingman, ID 5301067 has been located.
Concarneau, ID 3024035 has been located.
Necochea, ID 3430443 has been located.
Hay River, ID 5972762 has been located.
Bluff, ID 2206939 has been located.
Haines Junction, ID 5969025 has been located.
Saskylakh, ID 2017155 has been located.
Tobe, ID 1864226 has been located.
Koumac, ID 2140558 has been located.
Flinders, ID 6255012 has been located.
Inhambane, ID 1045114 has been located.
Swan River, ID 6160362 has been located.
Jiuquan, ID 1279945 has been located.
Pangoa, ID 3933104 has been located.
Talnakh, ID 1490256 has been located.
Coquimbo, ID 3893629 has been located.
Asău, ID 686090 has been located.
Shingū, ID 1847947 has been located.
Biltine, ID 244878 has been located.
Butembo, ID 217562 has been located.
Puerto Escondido, ID 3520994 has been located.
Aykhal, ID 2027296 has been located.
Alofi, ID 4036284 has been located.
Bethel, ID 5282297 has been located.
Matonga, ID 154576 has been located.
General Pico, ID 3855075 has been located.
Juneau, ID 5554072 has been located.
Korla, ID 1529376 has been located.
Perambalur, ID 1259896 has been located.
Vardø, ID 777019 has been located.
Lusambo, ID 210379 has been located.
Purpe, ID 1539210 has been located.
Ugoofaaru, ID 1337619 has been located.
Faanui, ID 4034551 has been located.
Yerbogachën, ID 2012956 has been located.
Vite, ID 1253091 has been located.
Pisco, ID 3932145 has been located.
Cotonou, ID 2394819 has been located.
Abhā, ID 110690 has been located.
New Norfolk, ID 2155415 has been located.
Clyde River, ID 5924351 has been located.
Port Alfred, ID 964432 has been located.
Brae, ID 2654970 has been located.
Hithadhoo, ID 1282256 has been located.
Sierra Vista, ID 5314328 has been located.
Channel-Port aux Basques, ID 5919815 has been located.
Muyezerskiy, ID 524100 has been located.
Assiut, ID 359783 has been located.
Vestmannaeyjar, ID 3412093 has been located.
Norman Wells, ID 6089245 has been located.
Zhigansk, ID 2012530 has been located.
Magadan, ID 2123628 has been located.
Kapaa, ID 5848280 has been located.
Lorengau, ID 2092164 has been located.
Butaritari, ID 2110227 has been located.
Kruisfontein, ID 986717 has been located.
Kahului, ID 5847411 has been located.
Marrakesh, ID 2542997 has been located.
Torbay, ID 6167817 has been located.
Colares, ID 2269142 has been located.
Balikpapan, ID 1650527 has been located.
Dabat, ID 340358 has been located.
Bundaberg, ID 2173323 has been located.
Joshīmath, ID 1268814 has been located.
Laas, ID 3175096 has been located.
Ewo, ID 2260009 has been located.
Aksu, ID 1529660 has been located.
Concepción del Oro, ID 4013039 has been located.
Camacha, ID 2270385 has been located.
Valparaíso, ID 3868626 has been located.
Verkhnyaya Inta, ID 1487332 has been located.
Porlamar, ID 3629965 has been located.
Kingaroy, ID 2161376 has been located.
Kavieng, ID 2094342 has been located.
Pangnirtung, ID 6096551 has been located.
Gornyy, ID 1506254 has been located.
Santa Vitória do Palmar, ID 3449747 has been located.
Sitka, ID 5557293 has been located.
Sittwe, ID 1295765 has been located.
Neiafu, ID 4032420 has been located.
Bristol, ID 4931378 has been located.
Buala, ID 2109528 has been located.
Bredasdorp, ID 1015776 has been located.
Lakhnādon, ID 1265233 has been located.
Hong Kong, ID 1819729 has been located.
Klaksvík, ID 2618795 has been located.
Berlevåg, ID 780687 has been located.
Iskateley, ID 866062 has been located.
Ponta do Sol, ID 2264557 has been located.
Chaves, ID 5461428 has been located.
Nanortalik, ID 3421765 has been located.
Todos Santos, ID 3981432 has been located.
Arraial do Cabo, ID 3471451 has been located.
Terre Haute, ID 4265737 has been located.
Longyearbyen, ID 2729907 has been located.
Constitución, ID 3893726 has been located.
Guerrero Negro, ID 4021858 has been located.
Awjilah, ID 88533 has been located.
Mahébourg, ID 934322 has been located.
Kirakira, ID 2178753 has been located.
Narsaq, ID 3421719 has been located.
Daru, ID 2098329 has been located.
Margate, ID 2643044 has been located.
Alekseyevsk, ID 2022083 has been located.
Shakawe, ID 933077 has been located.
Miyako, ID 2111884 has been located.
Ladário, ID 3459352 has been located.
Beni, ID 219057 has been located.
Baijiantan, ID 1529626 has been located.
Thinadhoo, ID 1337610 has been located.
Moose Factory, ID 6078372 has been located.
Chara, ID 2025630 has been located.
Gachsaran, ID 136014 has been located.
Flint, ID 4992982 has been located.
Jalalpur Jattan, ID 1176368 has been located.
Ketchikan, ID 5554428 has been located.
Katsuura, ID 2112309 has been located.
Kholodnyy, ID 2124611 has been located.

Ekhabi, ID 2122614 has been located.
Tahe, ID 2034615 has been located.
Vao, ID 2137773 has been located.
Hambantota, ID 1244926 has been located.
Miramar, ID 4164601 has been located.
Liezen, ID 2772480 has been located.
Bandarbeyla, ID 64814 has been located.
Pasaquina, ID 3584140 has been located.
Khatanga, ID 2022572 has been located.
Leningradskiy, ID 2123814 has been located.
Marsh Harbour, ID 3571913 has been located.
Gwadar, ID 1177446 has been located.
Amga, ID 2027786 has been located.
Ilulissat, ID 3423146 has been located.
Baghlan, ID 1147540 has been located.
Saint-Paul, ID 935221 has been located.
Pangody, ID 1495626 has been located.
Arman', ID 2127060 has been located.
Labuan, ID 1733782 has been located.
San Patricio, ID 4726521 has been located.
Bangassou, ID 240498 has been located.
Batagay, ID 2027044 has been located.
Iracoubo, ID 3381428 has been located.
Viedma, ID 3832899 has been located.
Sulphur, ID 4342816 has been located.
Hoquiam, ID 5797693 has been located.
Bereket, ID 161974 has been located.
Strezhevoy, ID 1490796 has been located.
Mamlyutka, ID 1521153 has been located.
Pantayivka, ID 698008 has been located.
Husavik, ID 2629833 has been located.
Altamira, ID 3407882 has been located.
San Jerónimo, ID 3929611 has been located.
Port Lincoln, ID 2063036 has been located.
Iqaluit, ID 5983720 has been located.
Puerto Ayora, ID 3652764 has been located.
Coffs Harbour, ID 2171085 has been located.
Marsá Maţrūḩ, ID 352733 has been located.
Krasnomayskiy, ID 542298 has been located.
Peniche, ID 2264923 has been located.
Souillac, ID 933995 has been located.
Eydhafushi, ID 1337606 has been located.
Van Buren, ID 4134716 has been located.
Reconquista, ID 3429594 has been located.
Half Moon Bay, ID 5354943 has been located.
Ahipara, ID 2194098 has been located.
Sur, ID 286245 has been located.
Bang Saphan, ID 1157662 has been located.
Ordu, ID 741098 has been located.
Tilichiki, ID 2120591 has been located.
Vaitape, ID 4033077 has been located.
Ondjiva, ID 3346821 has been located.
Takahagi, ID 2110893 has been located.
Tiksi, ID 2015306 has been located.
Cape Town, ID 3369157 has been located.
Caravelas, ID 3466980 has been located.
Oleksandrivka, ID 713676 has been located.
Mendi, ID 2090990 has been located.
Jumla, ID 1283285 has been located.
Boa Vista, ID 3664980 has been located.
Olafsvik, ID 3414079 has been located.
Tuatapere, ID 2180815 has been located.
Birao, ID 240210 has been located.
Khani, ID 610864 has been located.
Tasiilaq, ID 3424607 has been located.
Cherskiy, ID 2126199 has been located.
Kirksville, ID 5055787 has been located.
Port-Cartier, ID 6111696 has been located.
Carney, ID 4350413 has been located.
Taoudenni, ID 2450173 has been located.
Dimbokro, ID 2289983 has been located.
Vestmanna, ID 2610343 has been located.
Yārāda, ID 1252783 has been located.
Roebourne, ID 2062276 has been located.
Litovko, ID 2020738 has been located.
Taft, ID 113632 has been located.
Huilong, ID 1806840 has been located.
Yangi Marg`ilon, ID 1513491 has been located.
Shellbrook, ID 6145951 has been located.
Chardara, ID 1524889 has been located.
Alice Springs, ID 2077895 has been located.
Sorong, ID 1626542 has been located.
Aldan, ID 2027968 has been located.
Faya, ID 110690 has been located.
Ovalle, ID 3877918 has been located.
Kapit, ID 1737185 has been located.
Nago, ID 1856068 has been located.
Hurghada, ID 361291 has been located.
Ancud, ID 3899695 has been located.
Pierre, ID 5767918 has been located.
Waipawa, ID 2206874 has been located.
Zhangaözen, ID 607610 has been located.
Ankazoabo, ID 1072879 has been located.
Zhezkazgan, ID 1516589 has been located.
Marapanim, ID 3395440 has been located.
Chapais, ID 5919850 has been located.
Devils Lake, ID 5058868 has been located.
Sinnamary, ID 3380290 has been located.
Darhan, ID 2031964 has been located.
Sisimiut, ID 3419842 has been located.
Havøysund, ID 779622 has been located.
Esperance, ID 2071860 has been located.
Swellendam, ID 950709 has been located.
Kavaratti, ID 1267390 has been located.
Chicama, ID 3698359 has been located.
Richards Bay, ID 962367 has been located.
Kalianget, ID 1641977 has been located.
Petropavlovsk-Kamchatskiy, ID 2122104 has been located.
Kalmunai, ID 1242110 has been located.
Yar-Sale, ID 1486321 has been located.
Benalla, ID 2176225 has been located.
Plaster Rock, ID 7290171 has been located.
Banda Aceh, ID 1215502 has been located.
Klyuchi, ID 1503153 has been located.
Poum, ID 2138555 has been located.
Provideniya, ID 4031574 has been located.
Talavera, ID 1684019 has been located.
Ise, ID 1861450 has been located.
Coro, ID 3645213 has been located.
São Sebastião, ID 3448257 has been located.
Oranjestad, ID 3577154 has been located.
Atyashevo, ID 580375 has been located.
Atar, ID 2381334 has been located.
Tura, ID 1254046 has been located.
Teeli, ID 1489828 has been located.
Baykit, ID 1510689 has been located.
Eureka, ID 5563397 has been located.
Kalangala, ID 232571 has been located.
Anadyr, ID 2127202 has been located.
Caruray, ID 1718234 has been located.
Kiama, ID 2161515 has been located.
Aripuanã, ID 3665202 has been located.
Ribeira Grande, ID 3372707 has been located.
Abéché, ID 245785 has been located.
Vilhena, ID 3924679 has been located.
Paamiut, ID 3421193 has been located.
Saint-Augustin, ID 6137462 has been located.
Naze, ID 1855540 has been located.
Ngunguru, ID 2186111 has been located.
Aklavik, ID 5882953 has been located.
Sobolevo, ID 525426 has been located.
Santa Fe, ID 3836277 has been located.
Englehart, ID 5948844 has been located.
Evensk, ID 2125693 has been located.
Saint-François, ID 2980080 has been located.
Kiunga, ID 2093846 has been located.
Yellowknife, ID 6185377 has been located.
Tomatlán, ID 3981391 has been located.
Kitimat, ID 5993072 has been located.
Dongsheng, ID 1812256 has been located.
Tiassalé, ID 2280761 has been located.
Port Hedland, ID 2063042 has been located.
Lethem, ID 3379316 has been located.
Harar, ID 335035 has been located.
Beringovskiy, ID 2126710 has been located.
Bowen, ID 2174444 has been located.
Somerset East, ID 954161 has been located.
Biała Podlaska, ID 776175 has been located.
Saint George, ID 5546220 has been located.
Ballina, ID 2177069 has been located.
Codrington, ID 2171099 has been located.
Tulun, ID 2014927 has been located.
Stony Plain, ID 6157536 has been located.
Alto Lucero, ID 3532975 has been located.
Baghdad, ID 98182 has been located.
Abu Dhabi, ID 292968 has been located.
Samaná, ID 3492997 has been located.
Mpongwe, ID 905789 has been located.
Isangel, ID 2136825 has been located.
Sosnovo-Ozerskoye, ID 2016216 has been located.
Pran Buri, ID 1151063 has been located.
Ferrol, ID 3123493 has been located.
Cauquenes, ID 3896105 has been located.
Xihe, ID 1789462 has been located.
Saldanha, ID 3361934 has been located.
Northbrook, ID 4904056 has been located.
Salalah, ID 286621 has been located.
Biak, ID 1637001 has been located.
Prabumulih, ID 1631393 has been located.
Andradina, ID 3472248 has been located.
Ca Mau, ID 1586443 has been located.
Angoram, ID 2100765 has been located.
Sagua la Grande, ID 3541440 has been located.
Ushtobe, ID 1517637 has been located.
Tianpeng, ID 1792916 has been located.
Nouakchott, ID 2377450 has been located.
Palu, ID 1633034 has been located.
Puerto Santander, ID 3671325 has been located.
Kudahuvadhoo, ID 1337607 has been located.
Polunochnoye, ID 1494482 has been located.
Cidreira, ID 3466165 has been located.
Labuhan, ID 8079926 has been located.
Krasnovishersk, ID 542184 has been located.
Ilhabela, ID 3461425 has been located.
Jardim de Piranhas, ID 3397562 has been located.
Guadalupe Victoria, ID 3979505 has been located.
Hobyo, ID 57000 has been located.
Prince Rupert, ID 6113406 has been located.
Ust'-Tarka, ID 1488074 has been located.
Paka, ID 1734313 has been located.
Bengkulu, ID 1649150 has been located.
Itoman, ID 1861280 has been located.
Nome, ID 5870133 has been located.
Barra do Garças, ID 3470709 has been located.
Matoury, ID 3380965 has been located.
Kambove, ID 923058 has been located.
Chumikan, ID 2025256 has been located.
Tosagua, ID 3650554 has been located.
Chaoyang, ID 2038120 has been located.
Qaqortoq, ID 3420846 has been located.

Hastings, ID 2647356 has been located.
Emirdağ, ID 315621 has been located.
Svolvær, ID 3135020 has been located.
Trelew, ID 3833883 has been located.
Vanimo, ID 2084442 has been located.
Quatre Cocos, ID 1106643 has been located.
Gemeente Zeewolde, ID 2743996 has been located.
Mazatlán, ID 3996322 has been located.
Muhafazat Lahij, ID 6201197 has been located.
Morki, ID 525262 has been located.
Chabahar, ID 1161724 has been located.
Muroto-misakicho, ID 1856392 has been located.
Nioro, ID 2412408 has been located.
Chipinge, ID 893549 has been located.
Ostrovnoy, ID 556268 has been located.
Gold Coast, ID 2165087 has been located.
Sawtell, ID 2150163 has been located.
Adrar, ID 2381972 has been located.
Shitanjing, ID 1794971 has been located.
Vangaindrano, ID 1054329 has been located.
Qinhuangdao, ID 1797595 has been located.
Makaha, ID 5850511 has been located.
Port Keats, ID 2063039 has been located.
Nemuro, ID 2128975 has been located.
Rome, ID 5134295 has been located.
Rosetta, ID 350203 has been located.
Othaya, ID 181735 has been located.
Rawson, ID 3839307 has been located.
Qurayyat, ID 108648 has been located.
Shāhpur, ID 1256722 has been located.
Raychikhinsk, ID 2017487 has been located.
Katunino, ID 551736 has been located.
Coahuayana Viejo, ID 4013679 has been located.
Sungurlu, ID 739236 has been located.
Port Blair, ID 1259385 has been located.
Guaymas, ID 4005143 has been located.
Ho Chi Minh City, ID 1566083 has been located.
Tigil', ID 2120612 has been located.
Berlin, ID 2950159 has been located.
Mocuba, ID 1024312 has been located.
Bloemfontein, ID 1018725 has been located.
Cabedelo, ID 3404558 has been located.
Altay, ID 1529651 has been located.
San Cristobal, ID 3628473 has been located.
Ruteng, ID 1629380 has been located.
Yingchuan, ID 1785566 has been located.
Abay, ID 1526970 has been located.
Baiyin, ID 1817240 has been located.
Skellefteå, ID 602913 has been located.
Cody, ID 5821593 has been located.
San Quintín, ID 3984997 has been located.
Morondava, ID 1058381 has been located.
São Filipe, ID 3374210 has been located.
Vila Franca do Campo, ID 3372472 has been located.
Christchurch, ID 2192362 has been located.
Antalaha, ID 1071296 has been located.
Bilma, ID 2446796 has been located.
Dwārka, ID 1272140 has been located.
Hualmay, ID 3939761 has been located.
College, ID 5859699 has been located.
Severnyy, ID 496358 has been located.
Yaan, ID 2338660 has been located.
Oyama, ID 1853483 has been located.
Miandrivazo, ID 1059051 has been located.
Karratha, ID 6620339 has been located.
Boende, ID 218680 has been located.
Upata, ID 3625710 has been located.
Kloulklubed, ID 7671223 has been located.
Gouré, ID 2444219 has been located.
Bagn, ID 3162199 has been located.
Bestöbe, ID 1525376 has been located.
Panama City, ID 3703443 has been located.
Cartagena, ID 3687238 has been located.
Araouane, ID 2460954 has been located.
Bardsīr, ID 124647 has been located.
Upington, ID 945945 has been located.
Cabra, ID 2520645 has been located.
Mount Isa, ID 2065594 has been located.
Mattru, ID 2409215 has been located.
Bela, ID 1276574 has been located.
Tsukumiura, ID 1849661 has been located.
Morón, ID 3430545 has been located.
Chimoio, ID 1049261 has been located.
El Bagre, ID 3684945 has been located.
General Roca, ID 3855065 has been located.
Te Anau, ID 2181625 has been located.
Ust-Nera, ID 2120048 has been located.
Huarmey, ID 3939168 has been located.
Goba, ID 336350 has been located.
Goubellat, ID 2467980 has been located.
Makīnsk, ID 1521230 has been located.
Algiers, ID 2507480 has been located.
Esso, ID 2125711 has been located.
Tautira, ID 4033557 has been located.
Broken Hill, ID 2173911 has been located.
Horqueta, ID 3480780 has been located.
Kinkala, ID 2258984 has been located.
Lavrentiya, ID 4031637 has been located.
Ternate, ID 1624041 has been located.
Grindavik, ID 3416888 has been located.
Mweka, ID 207596 has been located.
Porto-Novo, ID 2392087 has been located.
Turukhansk, ID 1488903 has been located.
Vila, ID 7117100 has been located.
Westport, ID 4845585 has been located.
Chilliwack, ID 5921357 has been located.
Flin Flon, ID 5954718 has been located.
Opunake, ID 2206357 has been located.
Tambopata, ID 3927942 has been located.
Dandong, ID 2037886 has been located.
Leirvik, ID 3147822 has been located.
Touros, ID 3386213 has been located.
Santa Lucía, ID 2511150 has been located.
Tecpan, ID 3588476 has been located.
Raudeberg, ID 3146487 has been located.
São Benedito do Rio Preto, ID 3389012 has been located.
Belgrade, ID 792680 has been located.
Nouadhibou, ID 2377457 has been located.
Salinópolis, ID 3389822 has been located.
Zeya, ID 2012593 has been located.
Guaraniaçu, ID 3461892 has been located.
Mēga, ID 331259 has been located.
Binzhou, ID 1816336 has been located.
Mount Gambier, ID 2156643 has been located.
Big Rapids, ID 4986020 has been located.
Gilgit, ID 1178338 has been located.
Dhārchula, ID 1272864 has been located.
Kampene, ID 214575 has been located.
Kamenka, ID 553766 has been located.
Loandjili, ID 2258378 has been located.
Joensuu, ID 655808 has been located.
Ashland, ID 5146062 has been located.
Rodolfo Sánchez Taboada, ID 3996737 has been located.
Weiser, ID 5611730 has been located.
Celestún, ID 3531368 has been located.

## Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [10]:
# Create a dataframe from weather data lists
df = pd.DataFrame(list(zip(call_city, call_city_num, lat, long, temp, humid, cloudy, wind_sp)),
                 columns = ['City', 'City ID', 'Latitude', 'Longitude', 'Temperature (k)', 'Humidity (%)', 'Cloudiness (%)', 'Wind Speed (m/sec)'])
df

,City,City ID,Latitude,Longitude,Temperature (k),Humidity (%),Cloudiness (%),Wind Speed (m/sec)
0,Havre-St-Pierre,5972291,50.2334,-63.5986,286.35,62,1,9.26
1,Jamestown,5122534,42.0970,-79.2353,291.99,68,90,3.60
2,Dzierżoniów,3099828,50.7282,16.6514,283.23,87,15,1.07
3,Qaanaaq,3831208,77.4840,-69.3632,270.80,83,99,1.48
4,Hobart,2163355,-42.8794,147.3294,283.56,77,0,0.45
...,...,...,...,...,...,...,...,...
549,Joensuu,655808,62.6012,29.7632,283.65,77,0,2.17
550,Ashland,5146062,40.8167,-82.2665,290.66,94,100,3.98
551,Rodolfo Sánchez Taboada,3996737,31.7167,-116.5667,294.32,76,51,2.24
552,Weiser,5611730,44.2510,-116.9693,310.16,21,8,1.83
553,Celestún,3531368,20.8667,-90.4000,301.83,69,25,7.78

In [11]:
# Send dataframe to CSV file
df.to_csv(output_data_file, index=False)

## Inspect Data
----
###  Remove Cities where Humidity > 100%
Skip this step if there are no cities that have humidity > 100%.

In [12]:
# Ensure no cities have humidity values > 100%
df.sort_values('Humidity (%)')

,City,City ID,Latitude,Longitude,Temperature (k),Humidity (%),Cloudiness (%),Wind Speed (m/sec)
91,Kingman,5301067,35.1894,-114.0530,310.49,5,1,3.13
475,Bilma,2446796,18.6853,12.9164,305.83,9,7,2.41
367,Saint George,5546220,37.1041,-113.5841,312.13,9,1,1.34
492,Araouane,2460954,18.9048,-3.5265,310.14,9,6,2.47
404,Guadalupe Victoria,3979505,32.2869,-115.1050,313.45,10,81,7.56
...,...,...,...,...,...,...,...,...
408,Paka,1734313,4.6374,103.4368,297.11,100,90,2.59
165,Pangnirtung,6096551,66.1451,-65.7125,273.15,100,90,3.09
163,Kingaroy,2161376,-26.5333,151.8333,286.17,100,75,1.54
280,Vestmanna,2610343,62.1564,-7.1664,281.66,100,90,0.29
442,Nemuro,2128975,43.3236,145.5750,282.63,100,100,2.99

### Convert Data Units

In [21]:
# Convert Kelvin temps to Fahrenheit temps
df['Temperature (F)'] = (df['Temperature (k)'] - 273.15) * 9/5 + 32

# Convert wind speed in meters per sec to MPH
df['Wind Speed (mph)'] = (df['Wind Speed (m/sec)'] * 2.237)

df

,City,City ID,Latitude,Longitude,Temperature (k),Humidity (%),Cloudiness (%),Wind Speed (m/sec),Temperature (F),Wind Speed (mph)
0,Havre-St-Pierre,5972291,50.2334,-63.5986,286.35,62,1,9.26,55.760,20.71462
1,Jamestown,5122534,42.0970,-79.2353,291.99,68,90,3.60,65.912,8.05320
2,Dzierżoniów,3099828,50.7282,16.6514,283.23,87,15,1.07,50.144,2.39359
3,Qaanaaq,3831208,77.4840,-69.3632,270.80,83,99,1.48,27.770,3.31076
4,Hobart,2163355,-42.8794,147.3294,283.56,77,0,0.45,50.738,1.00665
...,...,...,...,...,...,...,...,...,...,...
549,Joensuu,655808,62.6012,29.7632,283.65,77,0,2.17,50.900,4.85429
550,Ashland,5146062,40.8167,-82.2665,290.66,94,100,3.98,63.518,8.90326
551,Rodolfo Sánchez Taboada,3996737,31.7167,-116.5667,294.32,76,51,2.24,70.106,5.01088
552,Weiser,5611730,44.2510,-116.9693,310.16,21,8,1.83,98.618,4.09371
553,Celestún,3531368,20.8667,-90.4000,301.83,69,25,7.78,83.624,17.40386

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression